@import "../styles/variables";
@import "../styles/mixins";

.mlHeader {
  position: relative;
  padding: 1.3rem 0;
  background-color: $primary-color;

  nav {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

    form {
      width: 100%;
    }
  }
}
