@import "../styles/variables";
@import "../styles/mixins";

.mlHeader {
  position: relative;
  padding: 1.3rem 0;
  background-color: $primary-color;

  nav {
    @include container;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

    @media (max-width: 768px) {
      gap: 1rem;
    }

    img {
      @media (max-width: 768px) {
        transform: translateY(0.4rem);
        width: 7rem;
        height: auto;
      }
    }

    form {
      width: 100%;
    }
  }
}
