// Cores
$primary-color: #ffe600;
$secondary-color: #3483fa;
$tertiary-color: #00a650;
$light-gray: #ebebeb;
$text-color: rgba(0, 0, 0, 0.9);

// Tipografia
$font-primary: "proxima-nova", sans-serif;

// Pesos das fontes
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
