// Cores
$primary-color: #FFE600;
$secondary-color: #3483fa;
$light-gray: #EBEBEB;
$text-color: rgba(0,0,0,.9);

// Tipografia
$font-primary: 'proxima-nova', sans-serif;

// Pesos das fontes
$font-light: 300;
$font-regular: 400;
$font-bold: 700;